
select {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: .4rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 3.8rem;
    padding: .6rem 1.0rem .7rem;
    width: 100%;
  }
  
  select:focus {
    border-color: #59a5f1;
    outline: 0;
  }
  
  select {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23d1d1d1" d="M0,0l6,8l6-8"/></svg>') center right no-repeat;
    padding-right: 3.0rem;
  }
  
  select:focus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%2359a5f1" d="M0,0l6,8l6-8"/></svg>');
  }
  
  select[multiple] {
    background: none;
    height: auto;
  }
  
  label,
  legend {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: .5rem;
  }
  
  input[type='checkbox'] {
    display: inline;
  }
  
  .label-inline {
    display: inline-block;
    font-weight: normal;
    margin-left: .5rem;
  }
  
  .container {
    margin: 0 auto;
    max-width: 112.0rem;
    padding: 0 2.0rem;
    position: relative;
    width: 100%;
  }
  