
.row {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
  }
  
  .row.row-no-padding {
    padding: 0;
  }
  
  .row.row-no-padding > .column {
    padding: 0;
  }
  
  .row.row-wrap {
    flex-wrap: wrap;
  }
  
  .row.row-top {
    align-items: flex-start;
  }
  
  .row.row-bottom {
    align-items: flex-end;
  }
  
  .row.row-center {
    align-items: center;
  }
  
  .row.row-stretch {
    align-items: stretch;
  }
  
  .row.row-baseline {
    align-items: baseline;
  }
  
  .row .column {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
  }
  
  .row .column .column-top {
    align-self: flex-start;
  }
  
  .row .column .column-bottom {
    align-self: flex-end;
  }
  
  .row .column .column-center {
    align-self: center;
  }
  
  @media (min-width: 40rem) {
    .row {
      flex-direction: row;
      margin-left: -1.0rem;
      width: calc(100% + 2.0rem);
    }
    .row .column {
      margin-bottom: inherit;
      padding: 0 1.0rem;
    }
  }